@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amaranth&display=swap');

*{
    margin: 0px;
    padding: 0px;
}
/*style for the entire page*/
.whole{
    width:100vw;
    height: 100vh; 
    text-align: center;
}

/*header styles, texts and links*/
.header{
    font-family: 'Montserrat', sans-serif;
    
    width: 99.7vw;
    height: 10vh;
    text-align:center;
    background-color: black;
    border: 2px white solid;
    
}

.header a{
    font-family: 'Montserrat Subrayada', sans-serif;

    float: right;
    padding: 1vh;
    color: white;
    background-color: gray;
    border-radius: 20px;
    text-decoration: none;
    margin-right: 2vw;
    border-radius: 200px;
    margin-top: 2vh;
}

.header h1{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Montserrat Subrayada', sans-serif;

    color: white;
    float: left;
    letter-spacing: 1vh;
    margin-left: 2vw;
    margin-top: 2vh;
}

.header a:hover {
    background-color: rgb(42, 42, 42);
    transform: scale(1.2);
    transition: transform .5s;
}

/*body style:photos, text*/
.body{
    width: 100vw;
    height: 80vh;
    text-align: center;
    overflow-x: hidden;
}

#bg{
    height: 1000vh;
    width: 100vw;
    margin-bottom: -400vw;
    padding: 0px;
}

.data{
    width: 70vw;
    height: 300vh;
    
    margin-top: -13vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-left: 45vw;
    
}
/*size adjust for each div*/
.data div{
    width: 80vw;
    height: 100vh;
    text-align: center;
}

.data h1{
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 255, 255);
}
/*photo for each div style*/
#graph{
    margin-top: 2vh;
    width: 35vw;
}

#var h3{
    font-family: 'Amaranth', sans-serif;

    background-color: rgba(190, 189, 189, 0.45);
    border-radius: 10px;
    margin-top: 2vh;
    padding: 1vh;
    
}
/*conclusion edits*/
#end h3{
    font-family: 'Amaranth', sans-serif;

    width: 80vw;
    height: 50vh;
    background-color: rgba(190, 189, 189, 0.45);
    padding: 4vh;
    padding-top: 6vh;
    border-radius: 15px;
    letter-spacing: .2vw;
    margin-top: 2vh;
    float: left;
}

/*footer styles: texts, link, img*/
.footer{
    background-color: #000000;
    height: 10vh;
    width: 99.7vw;
    border: 2px white solid;
    position: fixed;
}

.footer a{
    text-decoration: none;
    color: white;
    float: right;
    margin-top: 1vw;
}

.footer-text h3{
    color: white;
    float: right;
    margin-top: 4vh;
    
}

.footer-text span{
    margin-right: 2vw;
}

.footer img{
    width: 3vw;
    height: 6vh;
    float: right;
    border-radius: 300px;
    margin-right: 2vw;
    margin-bottom: 1.5vh;

}